@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Space Grotesk', sans-serif;
    body{
        background-color: rgba(255, 255, 255,0.9);
        .navbar{
            .container-fluid{
                .collapse-navbar{
                    .list{
                        .nav-item{
                            .nav-link{
                                color: white;
                            }
                            .active{
                                color: grey;
                            }
                        }
                    }
                }
            }

        }
        #header{
            animation: gradient 30s ease infinite;
            background-attachment:fixed;
            background-size: 400% 400%;
            background: grey;
            margin: auto;
            overflow: auto;
            // background: radial-gradient(circle, rgba(34,108,91,1) 0%, rgba(101,9,121,1) 35%, rgba(147,88,56,1) 59%, rgba(50,210,244,1) 100%);#
            background-color: #00DBDE;
            background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
            .p{
                margin: 0 0 80px 0;
            }

        }
        #between{
            .row-yellow{
                background-color: rgba(0, 218, 222, 0.8);
            }

            .row{
                .col-between{
                    div{
                        text-align: right;
                    }
                }
                .col{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Open Sans';
                    img{
                        height: 256px;
                        width: 256px;
                    }
                    h4{
                        font-size: 12px;
                        color: #fce700d2;
                        display: inline-block;
                        background-color: #FC00FF;
                        padding: 6px;
                        border-radius: 2px;
                        box-shadow: 2px 2px 2px grey;
                    }
                    h1{
                        font-size: 50px;
                        margin: 10px 0;
                        font-weight: 600;
                        span{
                            color: #FC00FF;
                        }

                    }
                    p{
                        font-size: 24px;
                        display: inline-block;
                        width: 300px;
                    }}
                }
            
        }
        .middle{
            position: relative;
            bottom: 350px;
             .l{
                display: flex;
                justify-content: space-between;
                .r{
                    background-color: rgba(255, 255, 255, 0.588);
                    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.488);
                    width: 320px;
                    border-radius: 2rem;
                    margin: 0 0 80px 0;
                    .par{
                        margin: 16px;
                    }
                }
            }
            .accordition{
                background-color: rgba(0, 218, 222, 0.9);
                .tableheader{
                    font-family: 'Open Sans',sans-serif;
                    margin: 10px;
                }
                .row{
                  .col , .dropdown-col {
                    background-color: rgba(255, 255, 255, 0.911);
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    border: black solid;
                    border-width: 1px 0;
                    vertical-align: middle;
                    button{
                        background-color: #fce700d2;
                        color: black;
                        margin: 3px;
                    }
                  }
                }
                .dropdownMenu{
                    background-color: rgba(255, 255, 255, 0.911);
                    border-radius: 3px;
                    margin: 5px 0;
                    padding: 5px 0;
                    .dropdown-col1{
                        text-align: center;
                        vertical-align: middle;
                        display: flex;
                        justify-content: center;
                        

                    }
                }
            }
        }
    }
}

