@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600&display=swap');
@font-face {
    font-family: 'TT Firs Neue';
    src: local('TT Firs Neue Light'), local('TT-Firs-Neue-Light'),
        url('../../Assets/Fonts/TTFirsNeue-Light/TTFirsNeue-Light.woff2') format('woff2'),
        url('../../Assets/Fonts/TTFirsNeue-Light/TTFirsNeue-Light.woff') format('woff'),
        url('../../Assets/Fonts/TTFirsNeue-Light/TTFirsNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Source Code';
    src:url('../../Assets/Fonts/Source-Code-Font/Source-Code-Pro.ttf.svg') format('svg'),
        url('../../Assets/Fonts/Source-Code-Font/Source-Code-Pro.ttf.woff') format('woff'),
        url('../../Assets/Fonts/TTFirsNeue-Light/TTFirsNeue-Light.eot') format('eot');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'tt_firs_neue_trlextralight';
    src: url('../../Assets/Fonts/TT-Firs-Neue-ExtraLight/tt_firs_neue_trial_extralight.woff2') format('woff2'),
         url('../../Assets/Fonts/TT-Firs-Neue-ExtraLight/tt_firs_neue_trial_extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
// Variables
$primary-font:'Nunito Sans', sans-serif;
$secondary-font:'TT Firs Neue',sans-serif;
$secondary-fontLight:'tt_firs_neue_trlextralight',sans-serif;
$trenary-font: 'Source Code',sans-serif;
$primary-color:#43e8e1;
$secondary-color: #131313;
$trenary-color:#898f97;
$quarternary-color:#362985;
$background-gradient:-webkit-linear-gradient(90deg, rgba(155,40,213,1) 32%, rgba(0,255,213,1) 68%);
html{
    body{
        overflow-x: hidden;
        font-family: $primary-font;
        background-color: $secondary-color;
        #headerSection{
        background-image: url("../../Assets/Images/headerImg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        width: 100vw;
        #navigation{
            nav{
                background-color: black;
                padding: 20px 10px;
                .container-fluid > *{
                    font-family: $primary-font;
                    color: $trenary-color;
                }
                .container-fluid{
                    .navbar-brand{
                        font-weight: 600;
                        font-size: 22px;
                    }
                    .collapse{
                        .navbar-nav{
                            .nav-item{
                                a{
                                    font-weight: 200;
                                    font-size: 14px;
                                    margin: 0 10px;
                                    color: white;
                                    letter-spacing: .4em;
                                }
                            }
                        }
                        button{
                            color: white;
                            background-color: black;
                            border: solid $trenary-color 1px;
                            border-radius: 0;
                            width:120px;
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
        #header{
            .container-fluid{
                .row{
                    align-items: flex-end;
                    display: flex;
                    height: 90vh;
                    .headerContainer{
                        letter-spacing: .08em;
                        color: white;
                        font-size: 42px;
                        font-weight: 500;
                        margin: 0 0 0 100px;
                        .mainTitle{
                            font-family: $primary-font;
                            font-weight: 600;
                            letter-spacing: 0.3rem;
                            font-size: 70px;
                            background: $background-gradient;
                            -webkit-background-clip: text;
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                        .firstMainTitle{
                            margin-top: 35px;
                            margin-bottom: 0;
                        }
                        .horizontalLineHeader{
                            background-color: white;
                            height: 400px;
                            position: relative;
                            right: 40px;
                            top: 380px;
                            width: 2px;
                        }
                        .verticalLineHeader{
                            position: relative;
                            bottom: 18vh;
                            left: 2vw;
                            height: 2px;
                            width: 200px;
                            background-color: $trenary-color;
                        }
                        .titleHeader{
                            transform: rotate(90deg);
                            position: relative;
                            right: 53%;
                            top: 55vh;
                            :hover{
                                color: white;
                                cursor:crosshair;
                            }
                            h1{
                                font-family:$secondary-font;
                                letter-spacing: .4em;
                                font-size: 18px;
                                color: $trenary-color;
                            }
                        }
                    }
                    .subheaderDots{
                        content: "";
                        display: block;
                        width: 28rem;
                        height: 25rem;
                        background-image: url(../../Assets/Images/dots.svg);
                        opacity: .25;
                        position: relative;
                        left: 50vw;
                        bottom: 45vh;
                        }
                }
            }
        }
    }
    #contents{
        position: relative;
        top: 43vh;
        .container-fluid{
            .marketRow{
                margin: 60px 0;
                .imageCol{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        position: absolute;
                        z-index: 2;
                        width: 20rem;
                        margin: 0 !important;
                        padding: 0 !important;
                    }
                }
            }
            .horizontallLine{
                height: 2px;
                width: 60%;
                background-color: $trenary-color;
                margin: auto;
            }
            .verticallLine{
                height: 10%;
                width: 2px;
                background-color: #362985;
                position: absolute;
            }
            button{
                font-family: $secondary-fontLight;
                color: white;
                background-color: black;
                border: solid $trenary-color 1px;
                border-radius: 0;
                padding: 0 15px;
                height: 50px;
                margin-left: 20px;
                letter-spacing: 0.1rem;
            }
            .marketingDotsPurple{
                position: absolute;
                z-index: -1;
                left: 50%;
                margin-top: 30%;
                content: "";
                display: block;
                width: 24rem;
                height: 68rem;
                background-image: url(../../Assets/Images/dotsPurple.svg);
                opacity: .4;
            }
            .row{
                   .numberContainer{
                    padding: 20px;
                    h2{
                        font-family: $trenary-font;
                        color:rgb(72, 69, 69);
                        font-size: 200px;
                        letter-spacing: -30px;
                    }
                    h3{
                        position: relative;
                        bottom: 5.2rem;
                        color: $primary-color;
                        left: 1rem;
                        letter-spacing: 5px;
                    }
                   }
                .col{
                    .contentsContainer{
                       margin: 0 0 0 100px;
                        #span1{
                            font-family: $primary-font;
                            font-weight: 600;
                            font-size: 55px;
                        }
                        #span2{
                            text-decoration: underline;
                        }
                        #span3{
                            font-family:$secondary-fontLight;
                        }
                        font-size: 55px;
                        color: white;
                        font-family:$secondary-font;
                        letter-spacing: .3rem;
                        line-height:50px;
                        p{
                            margin-top: 40px;
                            letter-spacing: normal;
                            line-height: normal;
                            font-size: 16px;
                            color: $primary-color;
                        }
                    }
                    button{
                        font-family: $secondary-fontLight;
                        color: white;
                        background-color: black;
                        border: solid $trenary-color 1px;
                        border-radius: 0;
                        width:170px;
                        height: 50px;
                        margin-left: 100px;
                        letter-spacing: 0.1rem;
                    }
                    img{
                        margin-top: -90px;
                    }
                    .marketingDots{
                        content: "";
                        display: block;
                        width: 34rem;
                        height: 30rem;
                        background-image: url(../../Assets/Images/dotsRed.svg);
                        opacity: .4;
                    }
                    .marketingVeritcalLine{
                        width: 3px;
                        height: 350px;
                        background-color: $primary-color;
                        position: relative;
                        left: 90%;
                        bottom:20%;
                    }
                    .marketingContianer{
                        height: 437px;
                        padding: 40px 20px;
                        background: linear-gradient(90deg, rgba(141,175,238,1) 18%, rgba(67,232,225,1) 88%);
                        h1{
                            font-size: 40px;
                            font-family: $secondary-font;
                            letter-spacing: 0.1rem;
                            color: $quarternary-color;
                        }
                        p{
                            font-size: 25px;
                            font-weight: 200;
                            color: black;
                            margin: 50px 0;
                            line-height: 27px;
                        }
                        button{
                            margin-left: 0;
                            border-color: white;
                        }
                        .marketingDots{
                            position: relative;
                            left: 20rem;
                            content: "";
                            display: block;
                            width: 34rem;
                            height: 30rem;
                            background-image: url(../../Assets/Images/dotsRed.svg);
                            opacity: .4;
                        }
                    }
                    .textContainer{
                        background:  linear-gradient(90deg, rgba(91,241,255,1) 29%, rgba(15,111,254,1) 80%);
                        padding: 40px 36px;
                        h1{
                            color: #4e0a85;
                            font-family: $secondary-font;
                            letter-spacing: 0.1rem;
                            margin: 0 0 60px;
                        }
                        p{
                            font-family: $primary-font;
                            font-weight: 200;
                            // letter-spacing: 0.04rem;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
        #contentsSubsector{
            .currenciesVerticalLine{
                height: 2px;
                width: 990px;
                background-color: $primary-color;
                position: relative;
                bottom: 20px;
                left: 200px;
            }
            .currenciesHorizontalLine{
                position: absolute;
                height: 250px;
                width: 2px;
                background-color: $quarternary-color;
                left: 94%;
                // bottom: 20.8%;
                bottom: 1340px;
            }
            .scrollTop{
                h1{
                    font-family: "TT Firs Neue", sans-serif;
                    letter-spacing: 0.4em;
                    font-size: 18px;
                    color: #898f97;
                }
                transform: rotate(90deg);
                position: relative;
                left: 44%;
                top: 120px;
                :hover{
                    color: white;
                    cursor: crosshair;
                }

            }
            .currencies{
                margin: 0 20px 40px;
                display: inline-block;
                background:linear-gradient(90deg, rgb(141, 175, 238) 18%, rgb(67, 232, 225) 88%);;
                h1{
                    margin: 30px;
                    display: inline-block;
                    font-family: $secondary-font;
                    font-weight: 600;
                    background: -webkit-linear-gradient(90deg, rgba(154,29,170,1) 45%, rgba(30,47,165,1) 80%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .container-fluid{
                .headerRow{
                    .col{
                        font-family: $primary-font !important;
                        letter-spacing: 0.25rem;
                        font-weight: 600;
                        font-size: 30px;
                    }
                }
                .tableRow{
                    .col{
                        display: flex;
                        button{
                            margin: 0 !important;
                            height: auto;
                            font-size: 16px;
                            background-color: $quarternary-color;
                        }
                    }
                }
                .row{
                    border: $quarternary-color 1px solid;
                    margin: 0 5px;
                    padding: 0 5px;
                    background-color: #898f97;
                    .col{
                        padding: 5px 0;
                        margin: 0 !important;
                        font-size: 22px;
                        font-family: $trenary-font;
                    }
                }
                .tableData{
                    .row{
                        background: linear-gradient(90deg, rgba(130, 82, 212, 0.883) 32%, rgba(186, 105, 208, 0.847) 72%);
                        margin: 10px 20px;
                        .col{
                            display: flex;
                            justify-content: center;
                            text-align: center;
                            align-items: center;
                            .tableTextContainer{
                                text-align: initial;
                                font-family: $primary-font;
                                h1{
                                    font-family: $secondary-font;
                                    letter-spacing: .15rem;
                                }
                                p{
                                font-size: 20px;
                                font-weight: 200;
                                }
                            }
                            .tableImgContainer{
                                overflow: hidden;
                                display: flex;
                                justify-content: center;
                                text-align: center;
                                img{
                                    margin: 25px 0;
                                    height: 280px;
                                    width: 520px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #footer{
            .container-fluid{
                .row{
                    // background: linear-gradient(90deg, rgba(36,83,196,1) 41%, rgba(42,209,201,1) 80%);
                    .imgCol{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: linear-gradient(90deg, rgba(36,83,196,1) 41%, rgba(42,209,201,1) 80%);
                        margin: 110px 0 0;
                    }
                    .col{
                        .imageContainerFooter{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                height: 300px;
                                width: 500px;
                                margin: 0 !important;
                            }
                        }
                        .row{
                            margin: 0 0 0 10px;
                            padding: 5px 0 0 10px;
                            background: linear-gradient(90deg, rgba(169,63,179,1) 41%, rgba(100,42,209,1) 80%);
                            .col{
                                // margin: 10px 0px 0 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img{
                                    // border-radius: 50%;
                                    height: 150px;
                                    width: 150px;
                                    margin: 0 !important;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
}